.div1 
{
    background-color: lightblue;
        width: 100px;
}
.div2 
{
    background-color: lightcoral;
    flex: 1;


}
.div12 
{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}