<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Posts</title>
</head>
<body>
    <div>
        {% for item in posts %}
        <div>{{item.image}}</div>
        <div>
            <div>Title:{{image.title}}</div>
            <div>{{item.description}}</div>
            <div>
                <button>Like</button>
                <p> </p>
                
            </div>
            <button>Read more</button>
        </div>
        {% endfor %}
    </div>
</body>
</html>