#subscribe
{
    background-color: rgb(145, 22, 22);
    color: white;
    border:none;
    height: 36px;
    width: 105px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}
#join 
{
    background-color: #fff;
    border-color: rgb(56, 56, 207);
    border-style: solid;
    border-width:1px;
    color:rgb(56, 56, 207);
    height: 36px;
    width: 62px;
    border-radius: 2px;
    margin-right: 10px;
}
#twitter
{
    background-color: rgb(2, 158, 255);
    color: white;
    height:  36px;
    width:  72px;
    border-radius: 20px;
    border: none;
    font-weight:bold;
    font-size: 15px;
}